#head{
    position: fixed;
}
#h{
    margin-left: 1200px;
    margin-top: -80px;
}

a{
    text-decoration: none;
}
#name{
    margin-left: -5px;
    margin-top: -10px;
    padding-top: 15px;
    height: 75px;
    width: 1680px;
    background-color: gray;
    color: blue;
    
}
#home{
    height: 700px;
    width: 1680px;
    margin-top:65px;
    margin-left: -5px;
    position: absolute;
    background-color: bisque;
   
}
#quote{
    text-align: center;
    padding-top: 270px;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#details{
    height: 650px;
    width: 1680px;
    margin-top: 900px;
    margin-left: -5px;
    position: absolute;
    
}
#p1{
    margin-top: -370px;
    margin-left: 500px;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    padding-top: 20px;
}
#p2{
    margin-top: 10px;
    margin-left: 500px;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
#photo{
    margin-top: 1000px;
    padding-left: 30px;
    
}
#p3{
    margin-left: 500px;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10px;
}
#p4{
    margin-left: 500px;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 20px;

}
#port-folio{
    height: 650px;
    width: 945px;
    margin-top: 300px;
    padding-left: 730px;
    padding-top: 30px;
    position: absolute;
    margin-left: -5px;
    
    
}
#l{
    margin-left: -400px;
    width: 900px;
}
#project1{
    height: 300px;
    width: 300px;
    border: 2px solid black;
    margin-top: 550px;
    margin-left: 160px;
    background-color: darkgray;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}
#project2{
    height: 300px;
    width: 300px;
    border: 2px solid black;
    margin-left: 660px;
    margin-top: -300px;
    background-color: darkgray;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    

}
#project3{
    height: 300px;
    width: 300px;
    border: 2px solid black;
    margin-left: 1120px;
    margin-top: -300px;
    background-color: darkgray;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}
#skills{
    height: 570px;
    width: 1680px;
    margin-top: 220px;
    background-color: bisque;
    margin-left: -5px;
}
#s{
    margin-left: 700px;
    margin-top: 100px;
}
#pyt{
    margin-left: 230px;
    
}
#py{
    margin-left: 230px;
}
#html,#htm{
    margin-left: 230px;

}
#as,#ds{
    margin-left: 100px;
}
#contact{
    margin-top: 300px;
    margin-left: 500px;
}
#icon{
    margin-left: 150px;
}
#con{
    margin-top: -10px;
    margin-left: 150px;
}
#mail{
    margin-left: 150px;
}
#pp1{
    padding-left: 50px;
    padding-top: -10px;
}
#p1t{
    padding-left: 20px;
    
}
#pp2{
    padding-left: 50px;
    padding-top: -10px;

}
#p2t{
    padding-left: 25px;

}
#pp3{
    padding-left: 50px;

}
#p3t{
    padding-left: 30px;
    padding-top: -20px;

}
#p1c{
    padding-left: 10px;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#p2c{
    padding-left: 10px;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#p3c{
    padding-left: 10px;
    padding-top: -0px;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
#la{
    margin-left: 1050px;
    margin-top: -380px;
}
#tam{
    margin-left: 1050px;
    margin-top: 40px;
}
#tv{
    margin-left: 1050px;
    margin-top: -10px;

}
#eng{
    margin-left: 1050px;

}
#ev{
    margin-left: 1050px;


}
#cont{
    margin-left: 150px;
}
#button{
    margin-left: 500px;
    
    
}
#cad{
    margin-left: 230px;
}
#ca{
    margin-left: 230px;
}
#sol{
    margin-left: 230px;
    

}
#so{
    margin-left: 230px;
    

}
#t{
    margin-left: 230px;
    margin-top: 50px;
}
#ho{
    color: blue;
    font-size: x-large;
}
#de{
    color: blue;
    font-size: x-large;

}
#po{
    color: blue;
    font-size: x-large;

}
#sk{
    color: blue;
    font-size: x-large;

}
#co{
    color: blue;
    font-size: x-large;

}